<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      Museum Info
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="/assets/alla_image.jpg" />
  <h1 class="title">Allahabad Museum</h1>
  <p class="content">
    The Allahabad Museum is centrally located in the Civil Lines area of the
    city in a lush green garden at Chandrashekhar Azad Park, popularly known as
    Company Bagh. It is about 3 kms away from the Allahabad railway junction and
    almost equidistant from three different Railway Stations such as Prayag,
    Rambagh and Allahabad junction and about 12 km away from Bamrauli Airport
  </p>
  <ion-button (click)="presentAlertMultipleButtons()">Submit</ion-button>
</ion-content>
