<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Kids Section </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kids Section</ion-title>
    </ion-toolbar>
  </ion-header>
  <h3 style="color: #44318D; font-weight: bold; margin-left: 10px;">Explore Arts</h3>
  <div class="row">
    <div class="column">
      <ion-card>
        <img src="https://images.metmuseum.org/CRDImages/as/web-large/DP-15581-004.jpg" />
        <ion-card-header>
          <ion-card-title class="title">Buddha, Probably Amitabha</ion-card-title>
        </ion-card-header>
      </ion-card>  
    </div>
    <div class="column">
      <ion-card>
        <img src="https://images.metmuseum.org/CRDImages/as/web-large/DT5214.jpg" />
        <ion-card-header>
          <ion-card-title class="title">Standing deity, probably Shiva</ion-card-title>
        </ion-card-header>
      </ion-card>  
    </div>
  </div>
  <div class="row">
    <div class="column">
      <ion-card class="column">
        <img src="https://images.metmuseum.org/CRDImages/as/web-large/DT5161.jpg" />
        <ion-card-header>
          <ion-card-title class="title">Jain spiritual leader in meditation</ion-card-title>
        </ion-card-header>
      </ion-card>  
    </div>
    <div class="column">
      <ion-card>
        <img src="http://www.nationalmuseumindia.gov.in/uploads/photos/1599029849_Rasamanjari-min.JPG" />
        <ion-card-header>
          <ion-card-title class="title">Rasamanjari</ion-card-title>
        </ion-card-header>
      </ion-card>  
    </div>
  </div>
</ion-content>
